@charset "utf-8";
@import "reset.less";
.reset();
@g-font-family: Microsoft YaHei, PingFang-SC-Regular, HeitiJ-Light, "Helvetica Neue", Helvetica, STHeiTi, sans-serif; //基础的字体
body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: @g-font-family;
    background: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.flexgc {
    flex-grow: 1;
}

section {
    width: 100%;
}

.topHeader {
    box-sizing: border-box;
    width: 100vw;
    // height: 5.2rem;
    min-height: 60px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #2EA3FD;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12rem;
    padding-right: 12rem;
}
.flexg {
    flex-grow: 1;
}
.logo {
    font-size: 2.6rem;
    font-weight: 600;
    color: #fff;
    margin-right: 4.5rem;
}
.font13 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
}
.mr20 {
    margin-right: 2rem;
}
a:hover {
    color: yellow;
}
.ahover {
    color: yellow;
}
/** 菜单栏a标签被点击之后的样式 */
.aclick {
    color: yellow;
}
/** 网站底部的样式栏设置 */
.footer {
    background: #3b414f;
    color: grey;
    text-align: center;
    font-size: 1.35rem;
    height: 50px;
    line-height: 50px;
}
.pointA {
    cursor: pointer;
}
.bread-container {
    width: 78%;
}
.contentWidth {
    width: 78%;
}
body, html {
    height: auto;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 50px;
}
.emptyIcon {
    margin-top: 66px;
    width: 320px;
    height: 240px;
}
.admin {
    position: relative;
    z-index: 999;
}
.adminMenu {
    position: relative;
    z-index: 99;
    top: 50px;
    left: -100px;
    padding: 26px 4px;
    color:#fff;
    background: #2EA3FD;
    border: 1px solid #2EA3FD;
}
.adminItem {
    height: 32px;
    line-height: 32px;
    a {
        color: #fff;
    }
    a:hover, a:active {
        color: #fff;
    }
}