<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1"">
    <%- include('/app/common/layout/meta.html') %>
    <link rel="stylesheet" type="text/css" href="/assets/libs/slider.css" />
</head>
<body>
    <%- include('/app/common/layout/header.html') %>

    <section class="sliderWrapper">
        <ul class="hiSlider">
            <li class="hiSlider-item"><img class="img" src="/assets/imgs/1.png" alt="img1"></li>
            <li class="hiSlider-item"><img class="img" src="/assets/imgs/2.png" alt="img2"></li>
            <li class="hiSlider-item"><img class="img" src="/assets/imgs/3.png" alt="img3"></li>
            <li class="hiSlider-item"><img class="img" src="/assets/imgs/4.png" alt="img4"></li>
            <li class="hiSlider-item"><img class="img" src="/assets/imgs/5.png" alt="img5"></li>
        </ul>
    </section>

    <%- include('/app/common/layout/footer.html') %>
    <script type="text/javascript" src="/assets/libs/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/libs/slider.js"></script>
    </body>
</html>