<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1"">
    <%- include('/app/common/layout/meta.html') %>
    <link rel="stylesheet" type="text/css" href="/assets/libs/slider.css" />
</head>
<body>
    <%- include('/app/common/layout/header.html') %>

    <section class="sliderWrapper">
        <ul class="hiSlider">
            <li class="hiSlider-item"><img class="img" src="/assets/imgs/1.png" alt="img1"></li>
            <li class="hiSlider-item"><img class="img" src="/assets/imgs/2.png" alt="img2"></li>
            <li class="hiSlider-item"><img class="img" src="/assets/imgs/3.png" alt="img3"></li>
            <li class="hiSlider-item"><img class="img" src="/assets/imgs/4.png" alt="img4"></li>
            <li class="hiSlider-item"><img class="img" src="/assets/imgs/5.png" alt="img5"></li>
        </ul>


        <!-- 功能区介绍 -->
        <div class="function-container">
            
            <div class="function f1">
                <h3>今日词表</h3>
                <p>学英语网所推出的每天背单词功能，做错的单词会自动加入到错题本中。</p>
                <p class="flexg"></p>
                <a href="/daily.html">开始使用</a>
            </div>

            <div class="function f2">
                <h3>拼写练习</h3>
                <p>学英语网所推出的拼写练习模块是根据中文词语写出对应的英文单词。</p>
                <p class="flexg"></p>
                <a href="/spell.html">开始使用</a>
            </div>

            <div class="function f3">
                <h3>爱阅读</h3>
                <p>爱阅读功能会给用户推荐精选的英语文章，并且会标注出重点单词。</p>
                <p class="flexg"></p>
                <a href="/essay.html">开始使用</a>
            </div>

            <div class="function f4">
                <h3>错题本</h3>
                <p>可以在错题本模块中找到自己做错的单词。</p>
                <p class="flexg"></p>
                <a href="/errorBook.html">开始使用</a>
            </div>
        </div>

    </section>

    <div class="flexgc"></div>

    <%- include('/app/common/layout/footer.html') %>
    <script type="text/javascript" src="/assets/libs/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/libs/slider.js"></script>
    </body>
</html>