<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1"">
    <%- include('/app/common/layout/meta.html') %>
    <title>新闻详情</title>
    <link rel="stylesheet" type="text/css" href="/assets/libs/semantic.css" />
</head>
<body>
    <%- include('/app/common/layout/header.html') %>
    
    <div class="wrapper">

        <div class="ui huge breadcrumb bread-container contentWidth">
            <a href="/index.html" class="section">主页</a>
            <i class="right chevron icon divider"></i>
            <div class="active section">新闻详情</div>
        </div>
        
        <div class="container contentWidth">

        </div>

    </div>

    <%- include('/app/common/layout/footer.html') %>
    <script type="text/javascript" src="/assets/libs/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/libs/semantic.js"></script>
</body>
</html>