<!-- 定义一个header，这个header采用fixed定位 -->
<header class="topHeader">
    <a class="logo" href="/">学英语</span>
    <a class="font13 mr20 mi" href="/">主页</a>
    <a class="font13 mr20 mi" href="/daily.html">今日词表</a>
    <a class="font13 mr20 mi" href="/spell.html">拼写练习</a>
    <a class="font13 mr20 mi" href="/errorBook.html">错题本</a>
    <a class="font13 mr20 mi" href="/essay.html">爱阅读</a>
    <a class="font13 mr20 mi" href="/news.html">新闻</a>
    <a class="font13 mr20 mi admin" href="/admin.html">管理员页面</a>
    <ul class="adminMenu">
        <li class="adminItem"><a href="/addNews.html">文章管理</a></li>
        <li class="adminItem">单词管理</li>
    </ul>
    <span class="flexg"></span>
    <a class="font13 mr20 mi rl" href="/register.html" id="register">注册</a>
    <a class="font13 mi rl" href="/login.html">登录</a>
    <a class="font13 mi mr20" href="/user.html" style="display: none;" id="userName"></a>
    <a class="font13 mi pointA" style="display: none;" id="loginOut">注销</a>
</header>