<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1"">
    <%- include('/app/common/layout/meta.html') %>
    <title>增加单词</title>
    <link rel="stylesheet" type="text/css" href="/assets/libs/semantic.css" />
</head>
<body>
    <%- include('/app/common/layout/header.html') %>
    
    <div class="wrapper">

        <div class="ui huge breadcrumb bread-container contentWidth">
            <a href="/index.html" class="section">主页</a>
            <i class="right chevron icon divider"></i>
            <div class="active section">增加单词</div>
        </div>
        
        <div class="container contentWidth">

            <h2 class="ui medium header">添加单词：</h2>
            <div class="ui input mr15">
                <input class="english" type="text" placeholder="请填入英文单词">
            </div>
            <div class="ui input mr15">
                <input class="chinese" type="text" placeholder="请填入中文翻译">
            </div>
            <select class="ui dropdown mr15 type">
                <option value="1">高中英语</option>
                <option value="2">四级英语</option>
                <option value="3">专业英语</option>
            </select>
            <button id="addWord" class="ui primary button">增加单词</button>

        </div>

    </div>

    <!-- 接口错误提示区域 -->
    <div class="ui small modal">
        <div class="large header">提示</div>
        <div id="message" class="content">
            抱歉，接口返回数据错误，请稍后重试
        </div>
        <div class="actions">
            <div id="closeButton" class="ui button">确定</div>
        </div>
    </div>

    <%- include('/app/common/layout/footer.html') %>
    <script type="text/javascript" src="/assets/libs/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/libs/semantic.js"></script>
</body>
</html>