<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1"">
    <%- include('/app/common/layout/meta.html') %>
    <title>注册学英语</title>
</head>
<body>
    <%- include('/app/common/layout/header.html') %>
    <div class="wrapper">
        <div class="registerWrapper">
            
        </div>
    </div>

    <%- include('/app/common/layout/footer.html') %>
    <script type="text/javascript" src="/assets/libs/jquery.min.js"></script>
</body>
</html>