@import "~app/common/less/common";

.wrapper {
    width: 100%;
    background: rgb(238, 238, 238);
    padding-top: 5vh;
    flex-grow: 1;
}
.registerWrapper {
    box-sizing: border-box;
    background: #fff;
    width: 400px;
    height: 450px;
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 9px 30px -6px rgba(0,0,0,.2), 0 18px 20px -10px rgba(0,0,0,.04), 0 18px 20px -10px rgba(0,0,0,.04), 0 10px 20px -10px rgba(0,0,0,.04);
    text-align: center;
}
.title {
    color: rgb(51, 51, 51);
    font-size: 2.8rem;
    font-weight: 400;
}
.inputWrapper {
    padding-top: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.wi {
    box-sizing: border-box;
    width: 110px;
    border: 1px solid red;
}
.registerButton {
    width: 260px;
}