<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1"">
    <%- include('/app/common/layout/meta.html') %>
    <title>爱阅读</title>
    <link rel="stylesheet" type="text/css" href="/assets/libs/semantic.css" />
</head>
<body>
    <%- include('/app/common/layout/header.html') %>
    
    <div class="wrapper">

        <!-- 导航栏区域开始 -->
        <div class="ui huge breadcrumb bread-container">
            <a href="/index.html" class="section">主页</a>
            <i class="right chevron icon divider"></i>
            <div class="active section">爱阅读</div>
        </div>

        <div class="container contentWidth">

            <!-- 文章展示区域开始：是富文本 -->
            <div id="essayContext" class="word-container">
                
            </div>

            <h4 class="ui horizontal divider header">重点词汇-点击不明白的单词将显示中文释义，同时加入错题本</h4>
            
            <div class="word-container">
                
                <div class="row">
                    <span class="english" id="english1"></span>
                    <span class="chinese" id="chinese1"></span>
                </div>

                <div class="row">
                    <span class="english" id="english2"></span>
                    <span class="chinese" id="chinese2"></span>
                </div>

                <div class="row">
                    <span class="english" id="english3"></span>
                    <span class="chinese" id="chinese3"></span>
                </div>

                <div class="row">
                    <span class="english" id="english4"></span>
                    <span class="chinese" id="chinese4"></span>
                </div>

                <div class="row">
                    <span class="english" id="english5"></span>
                    <span class="chinese" id="chinese5"></span>
                </div>

            </div>
            
            <div class="button-wraper">
                <button id="next" class="ui huge primary button">下一篇文章</button>
            </div>

        </div>
    </div>

    <!-- loading区域 -->
    <div class="ui active inverted dimmer">
        <div class="ui loader"></div>
    </div>

    <!-- 接口错误提示区域 -->
    <div class="ui small modal">
        <div class="large header">提示</div>
        <div id="message" class="content">
            抱歉，接口返回数据错误，请稍后重试
        </div>
        <div class="actions">
            <div id="closeButton" class="ui button">确定</div>
        </div>
    </div>

    <%- include('/app/common/layout/footer.html') %>
    <script type="text/javascript" src="/assets/libs/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/libs/semantic.js"></script>
</body>
</html>